[user]
	name = Vince Buffalo
	email = vsbuffaloAAAAAA@gmail.com
[credential]
	help = osxkeychain
[push]
	default = simple
[core]
	editor = emacs
	excludesfile = /Users/vinceb/.global_ignore
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
