.vim/bundle/vundle
.vim/bundle/ctrlp.vim
.vim/bundle/LaTeX-Box
.vim/bundle/clang_complete
.vim/bundle/OmniCppComplete/
.vim/bundle/tlib_vim/
.vim/bundle/vim-addon-mw-utils/
.vim/bundle/vim-multiple-cursors/
.vim/bundle/vim-snipmate/
.vim/bundle/vim-snippets/
.vim/bundle/ag.vim/
.vim/bundle/gundo.vim/
.vim/bundle/vim-trailing-whitespace/
.vim/spell/en.utf-8.add.spl

ipython-profile-default/.ipynb_checkpoints/
ipython-profile-default/.ropeproject/
.config/inkscape/
.config/htop/
.config/gtk-2.0/
