snippet rout
[source,rout]
----
$0
----
endsnippet

snippet bash
[source,console]
----
$0
----
endsnippet

snippet com
////
$0
////
endsnippet

snippet pyc
[source,pycon]
----
$0
----
endsnippet

snippet sql
[source,sql]
----
$0
----
endsnippet

snippet sqlite
[source,sqlite3]
----
$0
----
endsnippet

snippet py
[source,py]
----
$0
----
endsnippet

snippet sh
[source,bash]
----
$0
----
endsnippet


